@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Outfit:wght@100..900&display=swap");

:root {
  --bg-color: #f3f3f3;
  --bg-hover: #dbdada;

  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

body {
  background-color: var(--bg-color);
  margin: 0;
}

#text-editor-container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
}

.ql-container.ql-snow {
  display: flex;
  justify-content: center;
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 57px;
  z-index: 1;
  background-color: var(--bg-color);
}

@page {
  margin: 1in;
}

@media print {
  body {
    background-color: none;
  }

  #text-editor-container .ql-editor {
    width: 6.5in;
    min-height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
    background-color: none;
  }

  .ql-toolbar.ql-snow {
    display: none;
  }

  button {
    display: none !important;
  }
  h1 {
    display: none !important;
  }
}

header.doc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0; /* ← importante */
  z-index: 2;

  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin: 0;

  background-color: var(--bg-color);

  h1.doc-title {
    display: flex;
    justify-content: center;
    cursor: default;
    /* border: 1px solid #ccc; */

    position: sticky;
    top: 0; /* ← importante */
    z-index: 2;

    padding-block: 0.5rem;
    padding-inline: 1rem;
    margin: 0;

    background-color: var(--bg-color);
  }

  button {
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
    height: 1rem;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    gap: 0.5rem;

    /* No mostrar texto de boton en pantallas pequeñas   */
    @media only screen and (max-width: 600px) {
      div {
        display: none;
      }
    }
  }

  button:hover {
    cursor: pointer;
    background-color: var(--bg-hover);
  }
}

/* Contendeor principal de HomePage */
div.home-page-container {
  display: flex;
  justify-content: center;

  main {
    text-align: center;
    width: 50dvw;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;

    div.sections-container {
      width: 100%;

      /* Contenedor boton crear documento */
      section.new-doc {
        display: flex;
        justify-content: center;

        /* Boton crear documento */
        button {
          padding: 2rem;
          background-color: white;
          border-radius: 5px;
          width: 100dvw;
          border: none;
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        }

        button:hover {
          cursor: pointer;
          background-color: var(--bg-hover);

          svg {
            transform: scale(120%);
            transition: all 100ms ease-out;
          }
        }
      }

      /* Contenedor seccion de documentos */
      section.docs-section {
        text-align: initial;
        margin-top: 2rem;
        height: 60dvh;

        h5 {
          padding-top: 0.5rem;
        }
        /* Contenedor div para lista de documentos */
        div.docs {
          display: grid;
          grid-column: 1fr;
          gap: 1rem;
          max-height: 60dvh;
          overflow-y: scroll;

          /* Un documento */
          article.doc-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem;
            background-color: white;
            gap: 1rem;

            border-radius: 5px;

            border: none;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

            cursor: pointer;
            position: relative;

            /* Contenedor para titulo del documento y fecha */
            div {
              display: grid;
              grid-column: 1fr;
              flex: 1;
              justify-content: start;

              header {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              footer {
                color: gray;
                font-size: 15px;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            button.delete-btn {
              background: none;
              border: none;
              cursor: pointer;
              color: rgb(198, 22, 22);
              padding: 0.5rem;
              height: 100%;
            }

            button.delete-btn:hover {
              background: rgb(199, 196, 196);
              border-radius: 5px;
            }

            button.edit-btn {
              background: none;
              border: none;
              cursor: pointer;
              color: rgb(22, 116, 198);
              padding: 0.5rem;
              height: 100%;
            }

            button.edit-btn:hover {
              background: rgb(199, 196, 196);
              border-radius: 5px;
            }
          }

          article.doc-item:hover {
            cursor: pointer;
            background-color: var(--bg-hover);
          }
        }
      }
    }

    /* Breakpoints para contenedor main*/
    @media only screen and (max-width: 600px) {
      width: 80dvw;
    }

    @media only screen and (min-width: 600px) {
      width: 60dvw;
    }
  }
}

div.no-data {
  text-align: center;
  padding: 2rem;
  color: #666;
  height: 60dvh;
}

/* From: https://css-loaders.com/spinner/ */
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #011a7d) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
